*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #9b0848;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
}
ul{
    position: absolute;
    bottom: 0;
    right: 0;
    
}
li{
    display: inline-block;
    color: white;
    padding-right: 25px;
    text-decoration: underline;
    padding-bottom: 20px;
}
.img{
    padding-top: 15px;
    padding-left: 10px;
}
.main{
    margin: 0 auto;
    width: 300px;
    height: 200px;
    overflow-x: scroll;
    text-align: justify;
}
.img2{
    position: relative;
    
}
.img2 img{
    opacity: 0.8;
}
.heading{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    margin-top: 130px;
    margin-right: 350px;
    font-size: 25px;
}


