*{
    padding: 0;
    margin: 0;
}
body{
    line-height: 30px;
    text-align: center;
    background-color: rgb(186, 233, 142);
}
img{
    margin-left: 1044px;
    width: 15%;
    border: 5px solid black;
}
.first{
    margin-top: -201px;
    text-align: center;
    background-color: rgb(5, 36, 19);
    color: white;
    padding: 40px;
}
h3{
    background-color: black;
    color: white;
    text-align: center;
}
.last{
    padding-left: 856px;
    padding-top: 30px;
}